html body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

main .navbar-light .navbar-nav .nav-link {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #949ea0;
  padding: 25px 30.5px;
  cursor: pointer;
}

main .navbar-light .navbar-nav .nav-link.loginBtn {
  color: #df9186;
}

main .navbar-light .navbar-nav .nav-link.new-account {
  border-radius: 50px;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  color: white;
  padding: 13px 27px;
  margin-top: 13px;
}

.search-hero {
  text-align: center;
  padding: 154px 15px 169px;
  background-size: cover;
  background-position: center;
  margin-bottom: 90px;
}

.search-hero h1 {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.search-hero p {
  opacity: 0.7;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 15px;
  margin-bottom: 45px;
}

.searchForm {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: white;
  border-radius: 3px;
}

.searchForm input {
  width: calc(100% - 44px);
  padding: 16px 19px;
  border: 0;
  box-shadow: none;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #949ea0;
}

.searchForm button {
  background: none;
  border: 0;
  margin-right: 10px;
  box-shadow: none;
  outline: none;
}

.flower-item {
  position: relative;
  margin-bottom: 30px;
}

.flower-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.flower-info {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: calc(100% - 30px);
  left: 15px;
}

.flower-info span {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  padding: 8.5px 22px;
}

.flower-info h2 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.flower-info h3 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: white;
}

.flower-item-info:before {
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  top: 0;
  left: 15px;
}

a.nav-link img {
  max-width: 40px;
  border-radius: 50%;
  margin-left: 18px;
}

main .navbar-light .navbar-nav .nav-link.UserProfile {
  padding: 13px 30.5px;
}
